* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(0.85vw + 0.85vh);
  font-family: "Barlow Condensed", sans-serif;
  color: #444;
  overflow-x: hidden;
  width: 100%;
}

.text-dark {
  color: #3b3b3b !important;
}

.lead {
  font-size: 0.8rem;
  color: #222323;
  font-weight: 500;
}

.container {
  padding: 0 8rem;
}
.d-flex {
  display: flex !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.text-mute {
  color: #666;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.6px;
}

/*   HEADER STYLES  */

header > div {
  padding: 0 10vw 1vh;
}

.header-contact {
  margin-bottom: 0.25rem;
}

.header-contact-text {
  color: #3da4b8;
}

.header-contact-title i {
  margin-right: 0.5rem;
}

header nav {
  background: linear-gradient(#4b4b4b, #222323);
  width: 100%;
}

header nav ul {
  border-bottom: solid 0.5rem #454545;
}

.nav-item {
  color: #ddd;
  list-style: none;
  padding: 0.5rem 4.5rem;
  border: solid #454545;
  border-width: 0 1px 0 1px;
  cursor: pointer;
}

.nav-item.active {
  color: #fa9706;
  background: #454545;
}

.nav-item:hover {
  color: #fa9706;
  background: #454545;
}

#hero-area {
  background: url("./img/hotel1.png") center;
  background-size: cover;
  min-height: 60vh;
}

.moto {
  background: #efefef;
  font-size: 1.7rem;
  padding: 1.8rem 0 1.3rem;
}

.moto i {
  font-size: 0.7rem;
  margin: 0 0.25rem;
  color: #44444460;
}

.features {
  width: 33%;
  padding: 3rem 0;
}

.features img {
  width: 7rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

h2 {
  color: #9b5e03;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1rem;
}

.features p {
  margin-bottom: 0.25rem;
}

footer {
  background: #ececec;
}

.footer-left {
  padding: 3rem 0;
  width: 70%;
}

.footer-left p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

hr {
  margin: 0.5rem 0 1.5rem;
  background-color: #45454520;
  height: 0.01rem;
  border: none;
}

.footer-left > h2:nth-child(3) {
  padding: 1rem;
  background: red;
}

.footer-left-inner .footer-feature {
  width: 30%;
}

.footer-feature h4 {
  font-weight: 500;
  color: #222323;
  margin-bottom: 0.3rem;
}

.footer-left-inner .footer-feature p {
  margin-bottom: 0.7rem;
}
.footer-feature img {
  margin: 0 auto 1rem;
}
.footer-left-inner .feature-heading {
  padding: 0rem 1rem 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.footer-right {
  width: 28%;
  padding: 3rem 0.5rem;
}

.footer-right h2 {
  color: #cc0204;
}

.footer-right .footer-feature p {
  margin-bottom: 0.3rem;
}
.footer-links {
  padding: 2rem;
  width: 400px;
  max-width: 100%;
  border-color: #44444470;
  border-style: dashed;
  border-width: 0 1px 0px 1px;
}
.footer-links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.play-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header-heading {
  font-family: "Cardo", serif;
  font-size: 2rem;
}
