*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4rem;
  background-color: #f5f5f5;
}

#root {
  max-width: 550px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* form {
  display: flex;
  margin-bottom: 2rem;
} */

p {
  padding: 15px;
}

button {
  cursor: pointer;
  background: white;
  color: #cc9a9a;
  font-size: 2.3rem;
  padding: 0;
  /* border: 2px solid #cc9a9a; */
  border: none;
  margin: 0 0 rem;
}

[type="text"] {
  width: 100%;
  font-size: 20px;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #cc9a9a;
}

[type="checkbox"] {
  width: 2.3em;
  height: 2.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

[type="checkbox"]:checked {
  background-color: #cc9a9a;
}

[type="checkbox"]:checked + span {
  text-decoration: line-through #cc9a9a;
}

h1 {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

ul {
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  background-color: #ffffff;
  border-radius: 4px;
  border-bottom: 2px solid #cc9a9a;
}

li span {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  overflow-wrap: break-word;
  border-radius: 4px;
  border: 2px solid transparent;
  font-size: 25px;
}

.footer {
  max-width: 550px;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.list li {
  float: right;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease-out;
}

li button {
  transition: all 0.3s ease-out;
}

li button:hover {
  transform: scale(1.5);
}

li button:focus {
  outline: none;
}

.count {
  float: left;
  position: relative;
  padding: 0.5rem;
}

.list li:hover {
  transform: scale(1.2);
}

.list li:focus {
  outline: none;
}
