<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Blog Website</title>

    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Blog For Geeks</p>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="./compose.html">COMPOSE</a></li>
          <li id="contact"><a href="./contact.html">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <div class="about">
      <h1 id="h1">COMPOSE</h1>
      <form action="/" method="post">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" id="title" type="text" name="postTitle" />
          <label>Post</label>
          <textarea
            class="form-control"
            type="text"
            name="postBody"
            rows="5"
            cols="30"
            id="content"
          ></textarea>
        </div>
        <button id="compose" class="btn btn--green" type="submit" name="button">
          Publish
        </button>
      </form>
    </div>

    <!-- footer -->
    <div class="footer-padding">
      <div class="footer">
        <p>Made by Vishal Singh</p>
      </div>
    </div>
    <script src="../js/compose.js"></script>
  </body>
</html>
