<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Blog Website</title>

    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Blog For Geeks</p>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="./compose.html">COMPOSE</a></li>
          <li id="contact"><a href="contact.html">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    <div class="about">
      <h1>Contact</h1>

      <div class="details">
        <div class="contact">
          <ul>
            <img src="../img/linkedin.png" alt="" />
            <img src="../img/twitter.png" alt="" />
            <img src="../img/github.png" alt="" />
            <img src="../img/mobile.png" alt="" />
            <img src="../img/email.png" alt="" />
          </ul>
        </div>

        <div class="contact">
          <ul class="contact__list">
            <li>
              <a
                class="contact__item"
                target="_blank"
                href="https://www.linkedin.com/in/vishalsh2299/"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                class="contact__item"
                target="_blank"
                href="https://twitter.com/v_vishal_s"
                >Twitter</a
              >
            </li>
            <li>
              <a
                class="contact__item"
                target="_blank"
                href="https://github.com/vishalsh2299"
                >Github</a
              >
            </li>
            <li>
              <a class="contact__item" target="_blank" href="tel:+918423230932"
                >Mobile</a
              >
            </li>
            <li>
              <a
                class="contact__item"
                target="_blank"
                href="mailto:vishals@geekyants.com"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer-padding">
      <div class="footer">
        <p>Made by Vishal Singh</p>
      </div>
    </div>
  </body>
</html>
