table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th {
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

td {
  text-align: center;
  padding: 1rem;
}
